body {
  background: url('./images/background.png');
  background-size: 1%;
  background-color: #eaebf0;
  background-repeat: repeat;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}


html {
  color: var(#3e4247);
  font-family: var("Fira Sans");
}

.header {
  background: #fff
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eaebf0;
}

.header-nav {
  display: flex;
  line-height: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.header-nav-link {
  color: #3e4247;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Fira Sans";
  margin: 0;
  line-height: 1.0;
  text-align: center;
  vertical-align: middle;
}

.header-nav-link:first-child {
  margin-left: 0;
  margin-right: 2rem;
}

.header-nav-link:last-child {
  margin-left: 2rem;
  margin-right: 0;
}

.header-compass-logo {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


.complex-title {
  padding: 1.5rem 0 1rem 0;
  background-color: #fff;
}

.complex-title-name {
  font-family: "Philosopher";
  font-size: 2rem;
  line-height: 1.13;
  font-weight: 700;
  color: #3e4247;
  margin: 0;
}

.complex-title-adress {
  font-family: "Fira Sans";
  font-size: 0.88rem;
  line-height: 1.57;
  font-weight: 300;
  color: #a9afb6;
  margin: 0.5rem 0 0 0;
}

.complex-title-button {
  font-family: "Fira Sans";
  padding: 0.5rem 1rem;
  border-radius: 0.125px;
  border: solid 1px #e0e0e1;
  background-color: white;
  font-size: 0.63rem;
  line-height: 0.63rem;
  font-weight: 300;
  color: #00779a;
}


.complex-gallery-photos {
  display: flex;
  position: relative;
  justify-content: flex-start;
  overflow: scroll;
}

.complex-gallery-image {
  height: 400px;
}

.complex-gallery-button {
  position: absolute;
  padding: 0.5rem 1rem;
  margin-top: -2.625rem;
  border-radius: 0.125rem;
  border: 0;
  background-color: #00779a;
  font-family: "Fira Sans";
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.0;
  color: #fff;
}



.complex-summary {
  padding: 1.5rem 0 0 0;
  display: flex;
  background-color: white;
}

.complex-summary-info {
  margin: 0 3rem 0 0;
  font-family: "Philosopher";
  font-size: 1.5rem;
  font-weight: 700;
  color: #3e4247;
  display: block;
}

.complex-summary-info-wrapper {
  border-bottom: 1px solid #E0E0E1;
  display: flex;
}

.complex-summary-info-details {
  font-family: "Fira Sans";
  padding-bottom: 1.5rem;
  margin: 0.625rem 0 0 0;
  color: #a9afb6;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  display: block;
}


.complex-features {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.complex-features-title {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-family: "Philosopher";
  font-size: 1.5rem;
  line-height: 1.688rem;
  font-weight: 700;
  color: #3e4247;
  display: block;
}

.complex-feature-block {
  display: flex;
  margin: 0.5rem 0 0 0;
}

.complex-feature-title {
  width: 50%;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.5rem;
  color: #a9afb6;
}

.complex-feature-number {
  width: 50%;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #3e4247;
}

.complex-description {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.complex-text {
  margin-top: 0.25rem;
  margin-bottom: 25px;
  font-size: 1rem;
  color: #3e4247;
  line-height: 25px;
}



.complex-description {
  background-color: #fff;
}

.complex-description-title {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-family: "Philosopher";
  font-size: 1.5rem;
  line-height: 1.688rem;
  font-weight: 700;
  color: #3e4247;
  display: block;
}

.complex-description-text {
  margin-top: 0;
  margin-bottom: 1.56rem;
  font-family: "Fira Sans Regular";
  font-size: 1rem;
  line-height: 1.56rem;
  color: #3e4247;
}

.complex-infrastructure {
  background-color: #fff;
}

.complex-infrastructure-wrapper {
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-top: 0.063rem solid #e0e0e1;
}

.complex-infrastructure-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Philosopher";
  font-size: 1.5rem;
  line-height: 1.688rem;
  font-weight: 700;
  color: #3e4247;
  display: block;
}

.complex-infrastructure-item {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Fira Sans";
  font-size: 1rem;
  color: #3e4247;
  line-height: 1.38rem;
}

.complex-offers {
  background-color: #f4f5f9;
}

.complex-offers-title {
  padding-top: 4rem;
  text-align: center;
  font-family: "Philosopher";
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  margin: auto;
}

.complex-offers-cards {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

.complex-offers-card {
  display: flex;
  flex-flow: column;
  background-color: #fff;
}

.complex-offers-card-title {
  font-family: "Philosopher";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 1.5rem 2rem 0 2rem;
  color: #3e4247;
}

.complex-offers-card-param-record {
  display: flex;
  flex-flow: column;
  margin: 1.5rem 2rem 0 2rem;
}

.complex-offers-card-param-name {
  font-family: "Fira Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  color: #a9afb6;
}

.complex-offers-card-param-value {
  font-family: "Fira Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #3e4247;
  margin-top: 0.5rem;
  margin-left: 0;
}

.complex-offers-card-button {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.0;
  border-style: none;
  border-radius: 0.125rem;
  padding: 0.75rem 2rem;
  margin: 2rem 4rem 1.5rem 4rem;
}

.complex-area {
  background-color: #3e4247;
  padding-top: 4rem;
  padding-bottom: 13.6rem;
  line-height: 0;
}

.complex-area-title {
  margin: 0;
  font-family: "Philosopher";
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #a9afb6;
  font-weight: 700;
}

.complex-area-descr {
  margin: 3rem 0 3rem 0;
  font-family: "Philosopher";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
}

.complex-area-guide {
  text-decoration: none;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.56rem;
  color: #00779a;
}

.complex-area-guide-arrow {
  width: 9px;
  height: 8px;
}

.complex-area-photo {
  width: 100%;
}

.complex-area-locations {
  margin-top: -9.6rem;
  margin-bottom: 2rem;
}

.complex-area-locations-map {
  width: 100%;
  height: 19.125rem;
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.5);
}

.complex-area-locations-list {
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.5);
}

.complex-area-locations-item {
  padding: 1.5rem;
  background-color: white;
  border-bottom: solid 1px #e0e0e1;
}

.complex-area-location-distance {
  margin: 0.5rem 0 0 0;
  font-family: "Fira Sans";
  font-size: 16px;
  line-height: 1.38;
  color: #a9afb6;
}

.complex-area-location {
  margin: 0;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.38;
  font-weight: 500;
  color: #3e4247;
}

.footer-main {
  background-color: #111;
}

.footer-grid {
  padding-top: 2rem;
  padding-bottom: 1.75rem;
  background: #111;
}

.footer-line {
  height: 0.125rem;
  border-style: none;
  background-color: #3e4247;
  margin: 0;
}

.footer-title {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 0.875rem;
  color: #646971;
  margin-top: 1rem;
}

.footer-credentials-title {
  margin: 0;
}

.footer-credentials {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.footer-credentials:last-child {
  margin-top: 1rem;
}

.footer-link,
.footer-credentials {
  display: block;
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #fff;
  text-decoration: none;
  margin-top: 0.5rem;
}

.footer-credentials {
  color: #a9afb6;
}

.footer-all-apartment-link {
  margin-top: 1rem;
}

.footer-legal {
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 0.688rem;
  line-height: 1rem;
  color: #a9afb6;
  margin-top: 6rem;
}
